<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if lt IE 7]><html class="ie6"><![endif]-->
<!--[if IE 7]><html class="ie7"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if IE 10]><html class="ie10"><![endif]-->
<!--[if gt IE 10]><html><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
<!-- #BeginTemplate "/Templates/admin.jsp.dwt" --><!-- DW6 -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<%= myconfig.get(db, "charset") %>">
<meta http-equiv="Generator" content="<%= mytext.display("product") %> <%= mytext.display("version") %>">
<meta http-equiv="Copyright" content="<%= mytext.display("copyright") %>">
<%@ include file="/webadmin/scripts.jsp.html" %>
<!-- #BeginEditable "doctitle" -->
<title><%= mytext.display("contentpackages.update.title") %></title>
<!-- #EndEditable -->
<%
	if (! myrequest.getParameter("menu").equals("")) {
		mysession.set("menu", myrequest.getParameter("menu"));
	}
%>
</head>
<body>
<div class="ui-layout-north">
<div class="ui-layout-content">
<table class="WCMheaderwrapper"><tr><td>
<table class="WCMheader">
  <tr>
    <td class="WCMheader"><%= mytext.display("logo") %></td>
    <td class="WCMlogin"><% if (! mysession.get("username").equals("")) { %><%= mytext.display("loggedin") %> <%= mysession.get("username") %><% } %></td>
    <td class="WCMtitle"><!-- #BeginEditable "TITLE" --><%= mytext.display("contentpackages.update.title") %><!-- #EndEditable --></td>
  </tr>
</table>
</td></tr><tr><td>
<%@ include file="/webadmin/header.jsp.html" %>
</td></tr></table>
</div>
</div>
<div class="ui-layout-west">
<div class="ui-layout-content">
<% String myjspincludepage = "/" + mytext.display("adminpath") + "/menu.jsp"; %><jsp:include page="<%= myjspincludepage  %>" />
<!-- #BeginEditable "MENU" -->
<!-- #EndEditable -->
</div>
</div>
<div class="ui-layout-east">
<div class="ui-layout-content">
</div>
</div>
<div class="ui-layout-center">

<!-- #BeginEditable "MAIN" -->

<div id="WCMadminpage" class="WCMadminpage WCMadminform"><div id="WCMadminpagewrapper" class="WCMadminpagewrapper">

      <form action="update_post.jsp?id=<%= html.encodeHtmlEntities(myrequest.getParameter("id")) %>" method="POST">
        <p>
          <input type="submit" value="<%= mytext.display("save") %>">
        </p>
        <table width="100%">
          <tr> 
            <th class="WCMinnerContentHeading1" align="left"><%= mytext.display("contentpackages.heading") %></th>
          </tr>
          <tr> 
            <td class="WCMinnerContentIntro" align="left"><%= mytext.display("contentpackages.intro") %></td>
          </tr>
          <tr> 
            <th class="WCMinnerContentInputName" align="left"><%= mytext.display("contentpackages.title") %></th>
          </tr>
          <tr> 
            <td class="WCMinnerContentInputValue"> 
              <input type="text" size="80" maxlength="250" name="contentpackage" value="<%= html.encode(contentpackage) %>">
            </td>
          </tr>
        </table>
        <table width="100%">
<%
String pages = maintainContent.listContentPackageContent(db, myconfig, myrequest.getParameter("id"), "page");
String elements = maintainContent.listContentPackageContent(db, myconfig, myrequest.getParameter("id"), Element.csv(db));
String templates = maintainContent.listContentPackageContent(db, myconfig, myrequest.getParameter("id"), "template");
String stylesheets = maintainContent.listContentPackageContent(db, myconfig, myrequest.getParameter("id"), "stylesheet");
String scripts = maintainContent.listContentPackageContent(db, myconfig, myrequest.getParameter("id"), "script");
String images = maintainContent.listContentPackageContent(db, myconfig, myrequest.getParameter("id"), "image");
String files = maintainContent.listContentPackageContent(db, myconfig, myrequest.getParameter("id"), "file");
String links = maintainContent.listContentPackageContent(db, myconfig, myrequest.getParameter("id"), "link");
String products = maintainContent.listContentPackageContent(db, myconfig, myrequest.getParameter("id"), "product");
%>
<% if ((! pages.equals("")) || (! elements.equals("")) || (! templates.equals("")) || (! stylesheets.equals("")) || (! scripts.equals(""))) { %>
          <tr><th>&nbsp;</th></tr>
          <tr> 
            <th class="WCMinnerContentHeading1" colspan="2" align="left"><%= mytext.display("contentpackages.content.heading") %></th>
          </tr>
<% } %>
<% if (! pages.equals("")) { %>
          <tr><th class="WCMinnerContentInputName" colspan="2" align="left"><%= mytext.display("contentpackages.content.pages.heading") %></th></tr>
          <tr><td class="WCMinnerContentInputValue"><%= pages %></td></tr>
<% } %>
<% if (! elements.equals("")) { %>
          <tr><th class="WCMinnerContentInputName" colspan="2" align="left"><%= mytext.display("contentpackages.content.elements.heading") %></th></tr>
          <tr><td class="WCMinnerContentInputValue"><%= elements %></td></tr>
<% } %>
<% if (! templates.equals("")) { %>
          <tr><th class="WCMinnerContentInputName" colspan="2" align="left"><%= mytext.display("contentpackages.content.templates.heading") %></th></tr>
          <tr><td class="WCMinnerContentInputValue"><%= templates %></td></tr>
<% } %>
<% if (! stylesheets.equals("")) { %>
          <tr><th class="WCMinnerContentInputName" colspan="2" align="left"><%= mytext.display("contentpackages.content.stylesheets.heading") %></th></tr>
          <tr><td class="WCMinnerContentInputValue"><%= stylesheets %></td></tr>
<% } %>
<% if (! scripts.equals("")) { %>
          <tr><th class="WCMinnerContentInputName" colspan="2" align="left"><%= mytext.display("contentpackages.content.scripts.heading") %></th></tr>
          <tr><td class="WCMinnerContentInputValue"><%= scripts %></td></tr>
<% } %>
<% if ((! images.equals("")) || (! files.equals("")) || (! links.equals(""))) { %>
          <tr><th>&nbsp;</th></tr>
          <tr><th class="WCMinnerContentHeading1" colspan="2" align="left"><%= mytext.display("contentpackages.media.heading") %></th></tr>
<% } %>
<% if (! images.equals("")) { %>
          <tr><th class="WCMinnerContentInputName" colspan="2" align="left"><%= mytext.display("contentpackages.media.images.heading") %></th></tr>
          <tr><td class="WCMinnerContentInputValue"><%= images %></td></tr>
<% } %>
<% if (! files.equals("")) { %>
          <tr><th class="WCMinnerContentInputName" colspan="2" align="left"><%= mytext.display("contentpackages.media.files.heading") %></th></tr>
          <tr><td class="WCMinnerContentInputValue"><%= files %></td></tr>
<% } %>
<% if (! links.equals("")) { %>
          <tr><th class="WCMinnerContentInputName" colspan="2" align="left"><%= mytext.display("contentpackages.media.links.heading") %></th></tr>
          <tr><td class="WCMinnerContentInputValue"><%= links %></td></tr>
<% } %>
<% if (! products.equals("")) { %>
          <tr><th>&nbsp;</th></tr>
          <tr><th class="WCMinnerContentHeading1" colspan="2" align="left"><%= mytext.display("contentpackages.ecommerce.heading") %></th></tr>
<% } %>
<% if (! products.equals("")) { %>
          <tr><th class="WCMinnerContentInputName" colspan="2" align="left"><%= mytext.display("contentpackages.ecommerce.products.heading") %></th></tr>
          <tr><td class="WCMinnerContentInputValue"><%= products %></td></tr>
<% } %>

<!--
          <tr><th class="WCMinnerContentHeading1" colspan="2" align="left"><%= mytext.display("contentpackages.databases.heading") %></th></tr>
          <tr><th class="WCMinnerContentInputName" colspan="2" align="left"><%= mytext.display("contentpackages.databases.databases.heading") %></th></tr>
          <tr><th class="WCMinnerContentHeading1" colspan="2" align="left"><%= mytext.display("contentpackages.users.heading") %></th></tr>
          <tr><th class="WCMinnerContentInputName" colspan="2" align="left"><%= mytext.display("contentpackages.users.administrators.heading") %></th></tr>
          <tr><th class="WCMinnerContentInputName" colspan="2" align="left"><%= mytext.display("contentpackages.users.templates.heading") %></th></tr>
          <tr><th class="WCMinnerContentInputName" colspan="2" align="left"><%= mytext.display("contentpackages.users.users.heading") %></th></tr>
-->

        </table>
      </form>

</div></div>

<!-- #EndEditable -->

</div>
<div class="ui-layout-south">
<div class="ui-layout-content">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td class="WCMfooter" colSpan="4" align="center"> 
      <%= mytext.display("footer") %>
    </td>
  </tr>
</table>
</div>
</div>
</body>
<!-- #EndTemplate --></html>
