<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if lt IE 7]><html class="ie6"><![endif]-->
<!--[if IE 7]><html class="ie7"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if IE 10]><html class="ie10"><![endif]-->
<!--[if gt IE 10]><html><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
<!-- #BeginTemplate "/Templates/admin.jsp.dwt" --><!-- DW6 -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<%= myconfig.get(db, "charset") %>">
<meta http-equiv="Generator" content="<%= mytext.display("product") %> <%= mytext.display("version") %>">
<meta http-equiv="Copyright" content="<%= mytext.display("copyright") %>">
<%@ include file="/webadmin/scripts.jsp.html" %>
<!-- #BeginEditable "doctitle" -->
<title><%= mytext.display("data.index.title") %></title>
<script type="text/javascript">

function selectAll(myform) {
	var myelements = new Array();
	for (var i=0; i<myform.elements.length; i++) {
		if (myform.elements[i].name == "id") {
			myform.elements[i].checked = true;
		} else if (myform.elements[i].name == "dummy") {
			myform.elements[i].checked = true;
			myelements[myelements.length] = myform.elements[i].value;
		}
	}
	for (var i=0; i<myelements.length; i++) {
		if (toggleCheckbox) toggleCheckbox( myelements[i], true );
	}
}

function unselectAll(myform) {
	var myelements = new Array();
	for (var i=0; i<myform.elements.length; i++) {
		if (myform.elements[i].name == "id") {
			myform.elements[i].checked = false;
		} else if (myform.elements[i].name == "dummy") {
			myform.elements[i].checked = false;
			myelements[myelements.length] = myform.elements[i].value;
		}
	}
	for (var i=0; i<myelements.length; i++) {
		if (toggleCheckbox) toggleCheckbox( myelements[i], false );
	}
}

function deleteSelected(myform) {
	myform.action = "delete_multiple.jsp";
	myform.submit();
}

</script>
<% if (mysession.get("admin_pagesize").equals("")) { %>
<%@ include file="livegrid.search.jsp" %>
<% } else { %>
<script type="text/javascript" src="/<%= mytext.display("adminpath") %>/sorttable.js"></script>
<% } %>

<!-- #EndEditable -->
<%
	if (! myrequest.getParameter("menu").equals("")) {
		mysession.set("menu", myrequest.getParameter("menu"));
	}
%>
</head>
<body>
<div class="ui-layout-north">
<div class="ui-layout-content">
<table class="WCMheaderwrapper"><tr><td>
<table class="WCMheader">
  <tr>
    <td class="WCMheader"><%= mytext.display("logo") %></td>
    <td class="WCMlogin"><% if (! mysession.get("username").equals("")) { %><%= mytext.display("loggedin") %> <%= mysession.get("username") %><% } %></td>
    <td class="WCMtitle"><!-- #BeginEditable "TITLE" --><%= mytext.display("data.index.title") %><!-- #EndEditable --></td>
  </tr>
</table>
</td></tr><tr><td>
<%@ include file="/webadmin/header.jsp.html" %>
</td></tr></table>
</div>
</div>
<div class="ui-layout-west">
<div class="ui-layout-content">
<% String myjspincludepage = "/" + mytext.display("adminpath") + "/menu.jsp"; %><jsp:include page="<%= myjspincludepage  %>" />
<!-- #BeginEditable "MENU" -->
<!-- #EndEditable -->
</div>
</div>
<div class="ui-layout-east">
<div class="ui-layout-content">
</div>
</div>
<div class="ui-layout-center">

<!-- #BeginEditable "MAIN" -->

<div id="WCMadminpage" class="WCMadminpage WCMadminindex"><div id="WCMadminpagewrapper" class="WCMadminpagewrapper">

<% if (maintainData.database.getCreator()) { %>
      <div align="right">
        <form action="create.jsp" method="GET">
          <input type="hidden" name="database" value="<%= html.encodeHtmlEntities(myrequest.getParameter("database")) %>">
          <input type="submit" value="<%= mytext.display("addnew") %>">
        </form>
      </div>
<% } %>

<form method="GET" action="search.jsp">
<input type="hidden" name="database" value="<%= html.encodeHtmlEntities(myrequest.getParameter("database")) %>">
<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
<tr>
<% if (mysession.get("admin_pagesize").equals("")) { %>
<td valign="bottom" align="left">
<a id="bookmark" style="margin-bottom:3px;font-size:12px;text-decoration:none;"></a>
</td>
<td valign="bottom" align="center">
<span style="margin-bottom:3px;font-size:12px"><%= mytext.display("content.index.page") %></span>
<a id="first" style="margin-bottom:3px;font-size:12px;text-decoration:none;" href="#"><%= mytext.display("content.index.first") %></a> -
<a id="back" style="margin-bottom:3px;font-size:12px;text-decoration:none;" href="#"><%= mytext.display("content.index.back") %></a> -
<span style="margin-bottom:3px;font-size:12px" id="pages"></span>
- <a id="next" style="margin-bottom:3px;font-size:12px;text-decoration:none;" href="#"><%= mytext.display("content.index.next") %></a>
- <a id="last" style="margin-bottom:3px;font-size:12px;text-decoration:none;" href="#"><%= mytext.display("content.index.last") %></a>
</td>
<% } %>
<td valign="bottom" align="right">
          <select name="pagesize" onChange="this.form.submit();">
            <option value="all"<% if (! mysession.get("admin_pagesize").equals("")) { %> selected<% } %>><%= mytext.display("content.index.pagesize.all") %>
            <option value=" "<% if (mysession.get("admin_pagesize").equals("")) { %> selected<% } %>><%= mytext.display("content.index.pagesize.auto") %>
          </select>
</td>
</table>
</form>

<form method="POST">
<input type="hidden" name="database" value="<%= html.encodeHtmlEntities(myrequest.getParameter("database")) %>">
<div id="container" class="WCMindex">
<% if (mysession.get("admin_pagesize").equals("")) { %>
      <table style="width: 92%;" class="fixedTable WCMindex" id="data_grid_header">
<% } else { %>
      <table style="width: 100%;" class="sortable" id="contents">
<% } %>
        <tr class="WCMindex"> 
<%
	String myadminindex = "";
	if (myadminindex.equals("")) {
		myadminindex = datadatabase.getAdminIndex();
	}
	if (myadminindex.equals("")) {
		myadminindex = "checkbox:25px default id:25px view:50px update:50px delete:50px";
	}

	String[] columns = myadminindex.split(" ");
	for (int i=0; i<columns.length; i++) {
		String mycolumn = columns[i];
		String mycolumnname = "";
		String mycolumnwidth = "";
		String mycolumnhref = "#";
		if (mycolumn.matches("^(.+?):(.+?):(.+)$")) {
			mycolumnname = mycolumn.replaceAll("^(.+?):(.+?):(.+)$", "$1");
			mycolumnwidth = mycolumn.replaceAll("^(.+?):(.+?):(.+)$", "$2");
			mycolumnhref = mycolumn.replaceAll("^(.+?):(.+?):(.+)$", "$3");
		} else if (mycolumn.matches("^(.+):(.+)$")) {
			mycolumnname = mycolumn.replaceAll("^(.+):(.+)$", "$1");
			mycolumnwidth = mycolumn.replaceAll("^(.+):(.+)$", "$2");
		} else {
			mycolumnname = mycolumn;
		}
		if (! mycolumnwidth.equals("")) {
			mycolumnwidth = " width: " + mycolumnwidth + ";";
		}
%>
<% if (mycolumnname.equals("BLANK")) { %>
          <th class="WCMindex unsortable" style="text-align: left;<%= mycolumnwidth %>">&nbsp;</th>
<% } else if (mycolumnname.equals("checkbox")) { %>
          <th class="WCMindex unsortable" style="text-align: left;<%= mycolumnwidth %>">&nbsp;</th>
<% } else if (mycolumnname.equals("view")) { %>
          <th class="WCMindex unsortable" style="text-align: left;<%= mycolumnwidth %>">&nbsp;</th>
<% } else if (mycolumnname.equals("update")) { %>
          <th class="WCMindex unsortable" style="text-align: left;<%= mycolumnwidth %>">&nbsp;</th>
<% } else if (mycolumnname.equals("create")) { %>
          <th class="WCMindex unsortable" style="text-align: left;<%= mycolumnwidth %>">&nbsp;</th>
<% } else if (mycolumnname.equals("delete")) { %>
          <th class="WCMindex unsortable" style="text-align: left;<%= mycolumnwidth %>">&nbsp;</th>
<% } else if (maintainData.database.namedcolumns.get(mycolumnname) != null) { %>
          <th class="WCMindex" style="text-align: left;<%= mycolumnwidth %>"><%= mycolumnname %></th>
<% } else if (mycolumnname.equals("title")) { %>
          <th id="column_title" name="title" class="WCMindex" style="text-align: left;<%= mycolumnwidth %>"><%= maintainData.titlename %></th>
<% } else if (mycolumnname.equals("default")) { %>
          <th id="column_title" name="title" class="WCMindex" style="text-align: left;<%= mycolumnwidth %>"><%= maintainData.titlename %></th>
<% } else if (mycolumnname.equals("id")) { %>
          <th id="column_id" name="id" class="WCMindex" style="text-align: left;<%= mycolumnwidth %>"><%= mytext.display("data.index.id") %></th>
<% } else if (! mycolumnname.equals("")) { %>
          <th class="WCMindex unsortable" style="text-align: left;<%= mycolumnwidth %>">&nbsp;</th>
<% } %>
<%
	}
%>
        </tr>
<%
if (! mysession.get("admin_pagesize").equals("")) {
	while (data.records(db, "")) {
		data.adjustContent(datadatabase.columns);
%>
        <tr class="WCMindex" onMouseOver="this.className='WCMindex_highlight'" onMouseOut="this.className='WCMindex'"> 
<%
	columns = myadminindex.split(" ");
	for (int i=0; i<columns.length; i++) {
		String mycolumn = columns[i];
		String mycolumnname = "";
		String mycolumnwidth = "";
		String mycolumnhref = "#";
		if (mycolumn.matches("^(.+?):(.+?):(.+)$")) {
			mycolumnname = mycolumn.replaceAll("^(.+?):(.+?):(.+)$", "$1");
			mycolumnwidth = mycolumn.replaceAll("^(.+?):(.+?):(.+)$", "$2");
			mycolumnhref = mycolumn.replaceAll("^(.+?):(.+?):(.+)$", "$3");
		} else if (mycolumn.matches("^(.+):(.+)$")) {
			mycolumnname = mycolumn.replaceAll("^(.+):(.+)$", "$1");
			mycolumnwidth = mycolumn.replaceAll("^(.+):(.+)$", "$2");
		} else {
			mycolumnname = mycolumn;
		}
		if (! mycolumnwidth.equals("")) {
			mycolumnwidth = " style=\"width: " + mycolumnwidth + "\"";
		}
%>
<% if (mycolumnname.equals("BLANK")) { %>
          <td class="WCMindex">&nbsp;</td>
<% } else if (mycolumnname.equals("checkbox")) { %>
          <td class="WCMindex"><input type="checkbox" name="id" value="<%= data.getId() %>"></td>
<% } else if (mycolumnname.equals("view")) { %>
          <td class="WCMindex">
            <div align="center"><% if (maintainData.database.getUser()) { %><a href="view.jsp?database=<%= html.encodeHtmlEntities(myrequest.getParameter("database")) %>&id=<%= data.getId() %>&<%= Math.random() %>"><%= mytext.display("view") %></a><% } %> 
            </div>
          </td>
<% } else if (mycolumnname.equals("update")) { %>
          <td class="WCMindex">
            <div align="center"><% if (maintainData.database.getEditor()) { %><a href="update.jsp?database=<%= html.encodeHtmlEntities(myrequest.getParameter("database")) %>&id=<%= data.getId() %>&<%= Math.random() %>"><%= mytext.display("update") %></a><% } %> 
            </div>
          </td>
<% } else if (mycolumnname.equals("create")) { %>
          <td class="WCMindex">
            <div align="center"><% if (maintainData.database.getCreator()) { %><a href="create.jsp?database=<%= html.encodeHtmlEntities(myrequest.getParameter("database")) %>&id=<%= data.getId() %>&<%= Math.random() %>"><%= mytext.display("addnew") %></a><% } %> 
            </div>
          </td>
<% } else if (mycolumnname.equals("delete")) { %>
          <td class="WCMindex">
            <div align="center"><% if (maintainData.database.getPublisher()) { %><a href="delete.jsp?database=<%= html.encodeHtmlEntities(myrequest.getParameter("database")) %>&id=<%= data.getId() %>&<%= Math.random() %>"><%= mytext.display("delete") %></a><% } %> 
            </div>
          </td>
<% } else if (maintainData.database.namedcolumns.get(mycolumnname) != null) { %>
<%
	String dataid = maintainData.database.namedcolumns.get(mycolumnname).get("id");
	String datatype = maintainData.database.namedcolumns.get(mycolumnname).get("type");
	String databasename = maintainData.database.namedcolumns.get(mycolumnname).get("param2");
	String databasecontent = maintainData.database.namedcolumns.get(mycolumnname).get("options");
	String datacolumn = "col" + dataid;
	String datacontent = data.getContent(datacolumn);
	if (datatype.equals("html")) {
		datacontent = mypage.adjust_links("", datacontent, db, myconfig);
	} else if ((datatype.equals("selectmulti")) || (datatype.equals("radio")) || (datatype.equals("checkbox")) || (datatype.equals("contentclasses")) || (datatype.equals("contentgroups")) || (datatype.equals("contenttypes")) || (datatype.equals("pagegroups")) || (datatype.equals("pagetypes")) || (datatype.equals("imagegroups")) || (datatype.equals("imagetypes")) || (datatype.equals("imageformats")) || (datatype.equals("filegroups")) || (datatype.equals("filetypes")) || (datatype.equals("fileformats")) || (datatype.equals("linkgroups")) || (datatype.equals("linktypes")) || (datatype.equals("productgroups")) || (datatype.equals("producttypes")) || (datatype.equals("versions")) || (datatype.equals("databases")) || (datatype.equals("usernames")) || (datatype.equals("useremails")) || (datatype.equals("usergroups")) || (datatype.equals("usertypes"))) {
		datacontent = datacontent.replaceAll("\\|", "<br>");
	} else if ((datatype.equals("content")) || (datatype.equals("contents")) || (datatype.equals("page")) || (datatype.equals("pages")) || (datatype.equals("image")) || (datatype.equals("images")) || (datatype.equals("file")) || (datatype.equals("files")) || (datatype.equals("link")) || (datatype.equals("links")) || (datatype.equals("product")) || (datatype.equals("products")) || (datatype.equals("element")) || (datatype.equals("elements"))) {
		datacontent = mypage.list_titles(mysession, myrequest, myresponse, myconfig, db, datacontent.replaceAll("\\|", ","));
	} else if ((datatype.equals("datum")) || (datatype.equals("data"))) {
		Databases mydatabases = new Databases(mytext);
		mydatabases.readTitle(mysession.get("administrator"), mysession.get("userid"), mysession.get("username"), mysession.get("usertype"), mysession.get("usergroup"), mysession.get("usertypes"), mysession.get("usergroups"), db, myconfig, databasename);
		String columnid = "";
		Iterator dbcolumns = mydatabases.columns.keySet().iterator();
		while (dbcolumns.hasNext()) {
			HashMap dbcolumn = (HashMap)mydatabases.columns.get("" + dbcolumns.next());
			if (databasecontent.equals(dbcolumn.get("name"))) { columnid = "" + dbcolumn.get("id"); }
		}
		datacontent = data.list_titles(db, "data" + mydatabases.getId(), datacolumn, data.getContent(datacolumn).replaceAll("\\|",","));
	}
%>
          <td class="WCMindex"><%= datacontent %>&nbsp;</td>
<% } else if (mycolumnname.equals("title")) { %>
          <td class="WCMindex"><%= data.getContent(maintainData.titlecolumn) %></td>
<% } else if (mycolumnname.equals("default")) { %>
          <td class="WCMindex"><%= data.getContent(maintainData.titlecolumn) %></td>
<% } else if (mycolumnname.equals("id")) { %>
          <td class="WCMindex" style="text-align: right;"><%= data.getId() %></td>
<% } else if (! mycolumnname.equals("")) { %>
          <td class="WCMindex">
            <div align="center"><a href="<%= mycolumnhref + data.getId() %>&<%= Math.random() %>"><%= mycolumnname %></a></div>
          </td>
<% } %>
<%
	}
%>
        </tr>
<%
	}
}
%>
      </table>
<div>&nbsp;</div>
<input type="button" value="<%= mytext.display("selectall") %>" onClick="selectAll(this.form)">
&nbsp;
<input type="button" value="<%= mytext.display("unselectall") %>" onClick="unselectAll(this.form)">
&nbsp;
<input type="button" value="<%= mytext.display("deleteselected") %>" onClick="deleteSelected(this.form)">
</div>
</form>

</div></div>

<!-- #EndEditable -->

</div>
<div class="ui-layout-south">
<div class="ui-layout-content">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td class="WCMfooter" colSpan="4" align="center"> 
      <%= mytext.display("footer") %>
    </td>
  </tr>
</table>
</div>
</div>
</body>
<!-- #EndTemplate --></html>
