<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if lt IE 7]><html class="ie6"><![endif]-->
<!--[if IE 7]><html class="ie7"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if IE 10]><html class="ie10"><![endif]-->
<!--[if gt IE 10]><html><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
<!-- #BeginTemplate "/Templates/admin.jsp.dwt" --><!-- DW6 -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<%= myconfig.get(db, "charset") %>">
<meta http-equiv="Generator" content="<%= mytext.display("product") %> <%= mytext.display("version") %>">
<meta http-equiv="Copyright" content="<%= mytext.display("copyright") %>">
<%@ include file="/webadmin/scripts.jsp.html" %>
<!-- #BeginEditable "doctitle" -->
<title><%= mytext.display("usertypes.delete.title") %></title>
<!-- #EndEditable -->
<%
	if (! myrequest.getParameter("menu").equals("")) {
		mysession.set("menu", myrequest.getParameter("menu"));
	}
%>
</head>
<body>
<div class="ui-layout-north">
<div class="ui-layout-content">
<table class="WCMheaderwrapper"><tr><td>
<table class="WCMheader">
  <tr>
    <td class="WCMheader"><%= mytext.display("logo") %></td>
    <td class="WCMlogin"><% if (! mysession.get("username").equals("")) { %><%= mytext.display("loggedin") %> <%= mysession.get("username") %><% } %></td>
    <td class="WCMtitle"><!-- #BeginEditable "TITLE" --><%= mytext.display("usertypes.delete.title") %><!-- #EndEditable --></td>
  </tr>
</table>
</td></tr><tr><td>
<%@ include file="/webadmin/header.jsp.html" %>
</td></tr></table>
</div>
</div>
<div class="ui-layout-west">
<div class="ui-layout-content">
<% String myjspincludepage = "/" + mytext.display("adminpath") + "/menu.jsp"; %><jsp:include page="<%= myjspincludepage  %>" />
<!-- #BeginEditable "MENU" -->
<!-- #EndEditable -->
</div>
</div>
<div class="ui-layout-east">
<div class="ui-layout-content">
</div>
</div>
<div class="ui-layout-center">

<!-- #BeginEditable "MAIN" -->

<div id="WCMadminpage" class="WCMadminpage WCMadminform"><div id="WCMadminpagewrapper" class="WCMadminpagewrapper">

      <form action="delete_post.jsp?id=<%= html.encodeHtmlEntities(myrequest.getParameter("id")) %>" method="POST">
        <p>
          <input type="submit" value="<%= mytext.display("delete") %>">
        </p>
        <table width="100%">
          <tr>
            <th class="WCMinnerContentHeading1" align="left" colspan="2"><%= mytext.display("usertypes.heading") %></th>
          </tr>
<!--
          <tr>
            <td class="WCMinnerContentIntro" align="left" colspan="2"><%= mytext.display("usertypes.intro") %></td>
          </tr>
-->
          <tr>
            <th class="WCMinnerContentInputName" align="left" width="50%"><%= mytext.display("usertypes.title") %></th>
            <th class="WCMinnerContentInputName" align="left" width="50%"><%= mytext.display("usertypes.parenttype") %></th>
          </tr>
          <tr>
            <td class="WCMinnerContentInputValue" width="50%"><%= usertype.getUsertype() %>&nbsp;</td>
            <td class="WCMinnerContentInputValue" width="50%"><% if (usertype.getParenttype().equals("")) { %><%= mytext.display("none") %><% } else { %><%= usertype.getParenttype() %><% } %>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th class="WCMinnerContentInputName" align="left"><%= mytext.display("usertypes.subtypes") %></th>
            <th class="WCMinnerContentInputName" align="left"><%= mytext.display("usertypes.supertypes") %></th>
          </tr>
          <tr>
            <td class="WCMinnerContentInputValue" width="50%">
<%
	String thisusertype = usertype.getUsertype();
	while (usertype.records(db, "")) {
%> 
              <% if (subtypes.get(usertype.getUsertype()) != null) { %><%= usertype.getUsertype() %><br><% } %>
<%
	}
	usertype.readUsertype(db, thisusertype);
%> 
              &nbsp;
            </td>
            <td class="WCMinnerContentInputValue" width="50%"> 
<%
	thisusertype = usertype.getUsertype();
	usertype.records(db, "select * from usertypes order by usertype");
	while (usertype.records(db, "")) {
%> 
              <% if (supertypes.get(usertype.getUsertype()) != null) { %><%= usertype.getUsertype() %><br><% } %>
<%
	}
	usertype.readUsertype(db, thisusertype);
%> 
              &nbsp;
            </td>
          </tr>
          <tr> 
            <td class="WCMinnerContentIntro" align="left"><%= mytext.display("usertypes.subtypes.text") %></td>
            <td class="WCMinnerContentIntro" align="left"><%= mytext.display("usertypes.supertypes.text") %></td>
          </tr>
<% if (! myconfig.get(db, "use_accessrestrictions").equals("none")) { %>
        <br>
        <table width="100%">
          <tr> 
            <th class="WCMinnerContentHeading1" colspan="2" align="left"><%= mytext.display("usertypes.accessrestrictions.heading") %></th>
          </tr>
<!--
          <tr> 
            <td class="WCMinnerContentIntro" colspan="2" align="left"><%= mytext.display("usertypes.accessrestrictions.intro") %></td>
          </tr>
-->
          <tr> 
            <th class="WCMinnerContentInputName" colspan="2" align="left"><%= mytext.display("usertypes.loginpage") %></th>
          </tr>
          <tr> 
            <td class="WCMinnerContentInputValue" colspan="2"><%= mypage.elementTitle(mysession.get("administrator"), mysession.get("userid"), mysession.get("username"), mysession.get("usertype"), mysession.get("usergroup"), mysession.get("usertypes"), mysession.get("usergroups"), db, myconfig, usertype.getLoginPage()) %>&nbsp;</td>
          </tr>
<% if (License.valid(db, myconfig, "community")) { %>
<% if (myconfig.get(db, "use_userdefinition").equals("yes")) { %>
          <tr> 
            <th class="WCMinnerContentInputName" colspan="2" align="left"><%= mytext.display("usertypes.accessrestrictions.subscribers") %></th>
          </tr>
<% if (myconfig.get(db, "use_usertypes").equals("yes")) { %>
          <tr> 
            <td class="WCMinnerContentInputName" width="50"><%= mytext.display("usertypes.accessrestrictions.type") %></td>
            <td class="WCMinnerContentInputValue"> 
              <select name="subscribers_type">
                <option value="<%= usertype.getSubscribersType() %>"><%= mytext.display("pleaseselect") %> 
                <option value="" <% if (usertype.getSubscribersType().equals("")) { %>selected<% } %>><%= mytext.display("none") %> 
                <option value="*" <% if (usertype.getSubscribersType().equals("*")) { %>selected<% } %>><%= mytext.display("restricted") %>
                <%= usertype.usertype_select_options(db, usertype.getSubscribersType()) %> 
              </select>
            </td>
          </tr>
<% } %>
<% if (myconfig.get(db, "use_usergroups").equals("yes")) { %>
          <tr> 
            <td class="WCMinnerContentInputName" width="50"><%= mytext.display("usertypes.accessrestrictions.group") %></td>
            <td class="WCMinnerContentInputValue"> 
              <select name="subscribers_group">
                <option value="<%= usertype.getSubscribersGroup() %>"><%= mytext.display("pleaseselect") %> 
                <option value="" <% if (usertype.getSubscribersGroup().equals("")) { %>selected<% } %>><%= mytext.display("none") %> 
                <option value="*" <% if (usertype.getSubscribersGroup().equals("*")) { %>selected<% } %>><%= mytext.display("restricted") %> 
                <%= usertype.usergroup_select_options(db, usertype.getSubscribersGroup()) %> 
              </select>
            </td>
          </tr>
<% } %>
<% } %>
<% } %>
<% } %>
        </table>
      </form>

</div></div>

<!-- #EndEditable -->

</div>
<div class="ui-layout-south">
<div class="ui-layout-content">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td class="WCMfooter" colSpan="4" align="center"> 
      <%= mytext.display("footer") %>
    </td>
  </tr>
</table>
</div>
</div>
</body>
<!-- #EndTemplate --></html>
