<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if lt IE 7]><html class="ie6"><![endif]-->
<!--[if IE 7]><html class="ie7"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if IE 10]><html class="ie10"><![endif]-->
<!--[if gt IE 10]><html><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
<!-- #BeginTemplate "/Templates/admin.jsp.dwt" --><!-- DW6 -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<%= myconfig.get(db, "charset") %>">
<meta http-equiv="Generator" content="<%= mytext.display("product") %> <%= mytext.display("version") %>">
<meta http-equiv="Copyright" content="<%= mytext.display("copyright") %>">
<%@ include file="/webadmin/scripts.jsp.html" %>
<!-- #BeginEditable "doctitle" -->
<title><%= mytext.display("intro.statistics.title") %></title>
<!-- #EndEditable -->
<%
	if (! myrequest.getParameter("menu").equals("")) {
		mysession.set("menu", myrequest.getParameter("menu"));
	}
%>
</head>
<body>
<div class="ui-layout-north">
<div class="ui-layout-content">
<table class="WCMheaderwrapper"><tr><td>
<table class="WCMheader">
  <tr>
    <td class="WCMheader"><%= mytext.display("logo") %></td>
    <td class="WCMlogin"><% if (! mysession.get("username").equals("")) { %><%= mytext.display("loggedin") %> <%= mysession.get("username") %><% } %></td>
    <td class="WCMtitle"><!-- #BeginEditable "TITLE" --><%= mytext.display("intro.statistics.title") %><!-- #EndEditable --></td>
  </tr>
</table>
</td></tr><tr><td>
<%@ include file="/webadmin/header.jsp.html" %>
</td></tr></table>
</div>
</div>
<div class="ui-layout-west">
<div class="ui-layout-content">
<% String myjspincludepage = "/" + mytext.display("adminpath") + "/menu.jsp"; %><jsp:include page="<%= myjspincludepage  %>" />
<!-- #BeginEditable "MENU" -->
<!-- #EndEditable -->
</div>
</div>
<div class="ui-layout-east">
<div class="ui-layout-content">
</div>
</div>
<div class="ui-layout-center">

<!-- #BeginEditable "MAIN" -->

<div id="WCMadminpage" class="WCMadminpage WCMadminindex"><div id="WCMadminpagewrapper" class="WCMadminpagewrapper">

      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="top">
                  <table width="100%" border="0">
                    <tr align="left" valign="top"> 
                      <th class="WCMinnerContentHeading1" colspan="2"><%= mytext.display("intro.statistics.heading") %></th>
                    </tr>
                    <tr align="left" valign="top"> 
                      <td class="WCMinnerContentSectionIntro" colspan="2"><%= mytext.display("intro.statistics.intro") %></td>
                    </tr>
                    <tr align="left" valign="top"> 
                      <td colspan="2"><%= mytext.display("intro.statistics.text") %></td>
                    </tr>
                    <tr align="left" valign="top"> 
                      <th width="50%">&nbsp;</th>
                      <th width="50%">&nbsp;</th>
                    </tr>
                    <tr align="left" valign="top"> 
                      <td width="50%" class="WCMfrontpage">
                        <p><%= mytext.display("intro.statistics.summary") %><br>&nbsp;</p>
                      </td>
                      <td width="50%" class="WCMfrontpage">
                        <p><%= mytext.display("intro.statistics.what") %><br>&nbsp;</p>
                      </td>
                    </tr>
                    <tr align="left" valign="top"> 
                      <td width="50%" class="WCMfrontpage">
                        <p><%= mytext.display("intro.statistics.when") %><br>&nbsp;</p>
                      </td>
                      <td width="50%" class="WCMfrontpage">
                        <p><%= mytext.display("intro.statistics.who") %><br>&nbsp;</p>
                      </td>
                    </tr>
                    <tr align="left" valign="top"> 
                      <td width="50%" class="WCMfrontpage">
                        <p><%= mytext.display("intro.statistics.why") %><br>&nbsp;</p>
                      </td>
                      <td width="50%" class="WCMfrontpage">
                        <p><%= mytext.display("intro.statistics.how") %><br>&nbsp;</p>
                      </td>
                    </tr>
                    <tr align="left" valign="top"> 

<% int cellcount = 0; %>
<% for(int i=0; i<module.size(); i++) { %>
<% if ((moduleStatisticsIntroTitle.size()>i) && (! moduleStatisticsIntroTitle.get(i).equals(""))) { %>
<% cellcount = cellcount+1; %>
                      <td width="50%" class="WCMfrontpage"> 
                        <p><b><%= moduleStatisticsIntroTitle.get(i) %></b><br><%= moduleStatisticsIntroText.get(i) %><br>&nbsp;</p>
                      </td>
<% if (cellcount == 2) { %>
<% cellcount = 0; %>
                    </tr>
                    <tr align="left" valign="top"> 
<% } %>
<% } %>
<% } %>

                    </tr>
                  </table>
          </td>
          <td align="right" valign="top" width="110">
            <p><img src="statistics1.gif" width="100" height="100"></p>
            <p><img src="statistics2.gif" width="100" height="100"></p>
            <p><img src="statistics3.gif" width="100" height="100"></p>
          </td>
        </tr>
      </table>
<%
	String workspace = mysession.get("admin_statistics_index_report");
	if (workspace.equals("")) {
		workspace = myconfig.get(db, "statistics_index_report");
	}
	if (workspace.equals("")) {
		workspace = "usage:summary:all:today usage:summary:all:thisweek usage:summary:all:thismonth";
	}
	String[] workspacesections = workspace.replaceAll("[\r\n]+", " ").split(" ");
	for (int myworkspacesection=0; myworkspacesection<workspacesections.length; myworkspacesection++) {
		String workspacesection = "" + workspacesections[myworkspacesection];
%>
<% String reportsection = workspacesection; %>
<%@ include file="usage/report.data.jsp.html" %>
<%
	}
%>

</div></div>

<!-- #EndEditable -->

</div>
<div class="ui-layout-south">
<div class="ui-layout-content">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td class="WCMfooter" colSpan="4" align="center"> 
      <%= mytext.display("footer") %>
    </td>
  </tr>
</table>
</div>
</div>
</body>
<!-- #EndTemplate --></html>
