<link rel="stylesheet" type="text/css" href="/<%= mytext.display("adminpath") %>/webadmin.css">
<link rel="stylesheet" type="text/css" href="/<%= mytext.display("adminpath") %>/dtree.css">
<link rel="stylesheet" type="text/css" href="/<%= mytext.display("adminpath") %>/jquery/css/layout-default.css">
<script type="text/javascript" src="/<%= mytext.display("adminpath") %>/json/json2.js"></script>
<script type="text/javascript" src="/<%= mytext.display("adminpath") %>/jquery/jquery.js"></script>
<script type="text/javascript" src="/<%= mytext.display("adminpath") %>/jquery/jquery-ui.js"></script>
<script type="text/javascript" src="/<%= mytext.display("adminpath") %>/jquery/jquery.layout.js"></script>
<script type="text/javascript" src="/<%= mytext.display("adminpath") %>/jquery/jquery.layout.state.js"></script>
<script type="text/javascript" src="/<%= mytext.display("adminpath") %>/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="/<%= mytext.display("adminpath") %>/jquery/jquery.hotkeys.js"></script>
<script type="text/javascript" src="/<%= mytext.display("adminpath") %>/jstree/jquery.jstree.js"></script>
<link rel="stylesheet" type="text/css" href="/<%= mytext.display("adminpath") %>/slidetabs/css/wcm/template.css">
<script type="text/javascript" src="/<%= mytext.display("adminpath") %>/slidetabs/js/plugins/jquery.easing.js"></script>
<script type="text/javascript" src="/<%= mytext.display("adminpath") %>/slidetabs/js/jquery.slidetabs.js"></script>
<script type="text/javascript" src="/<%= mytext.display("adminpath") %>/webadmin.js"></script>
