<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if lt IE 7]><html class="ie6"><![endif]-->
<!--[if IE 7]><html class="ie7"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if IE 10]><html class="ie10"><![endif]-->
<!--[if gt IE 10]><html><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
<!-- #BeginTemplate "/Templates/admin.jsp.dwt" --><!-- DW6 -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<%= myconfig.get(db, "charset") %>">
<meta http-equiv="Generator" content="<%= mytext.display("product") %> <%= mytext.display("version") %>">
<meta http-equiv="Copyright" content="<%= mytext.display("copyright") %>">
<%@ include file="/webadmin/scripts.jsp.html" %>
<!-- #BeginEditable "doctitle" -->
<title><%= mytext.display("users.password.title") %>&nbsp;<%= user.getUsername() %></title>
<script type="text/javascript" src="../ajax.js"></script>
<script type="text/javascript">

function doSave(form) {
        var do_save = true;
        var validation = "";
<% if (Common.fileExists(Common.getRealPath(servletcontext, "/" + mytext.display("adminpath") + "/api/validateuser.jsp"))) { %>
	validation = POST("/<%= mytext.display("adminpath") %>/api/validateuser.jsp?request=<%= myrequest.getRequestURI() %>&id=<%= html.encodeHtmlEntities(myrequest.getParameter("id")) %>&<%= Math.random() %>", form);
        if ((! validation) || (validation == "OK")) {
                // ok
        } else if (validation.match(/^OK:ALERT:/)) {
                alert(validation.replace(/^OK:ALERT:/, ""));
        } else if (validation.match(/^ERROR:ALERT:/)) {
                do_save = false;
                alert(validation.replace(/^ERROR:ALERT:/, ""));
        } else if (validation.match(/^ERROR:CONFIRM:/)) {
                do_save = confirm(validation.replace(/^ERROR:CONFIRM:/, ""));
        } else {
                do_save = confirm(validation);
        }
<% } %>
	if (do_save) {
		form.submit();
	}
}

function openSelectContentItem(inputid, section, category, title, href_contentclass) {
	var inputnode = document.getElementById(inputid);
	if (inputnode && inputnode.options) {
		var contenttitle = inputnode.options[inputnode.selectedIndex].text;
		var contentid = inputnode.options[inputnode.selectedIndex].value;
		var contenthref = '/' + href_contentclass + '.jsp%3Fid%3D' + contentid;
		if (! ((contentid > 0) && (contenttitle != ""))) {
			contentid = '';
			contenttitle = '';
			contenthref = '';
		}
		window.open('/<%= mytext.display("adminpath") %>/webeditor/selectormanager_wcm.jsp?input=' + inputid + '&section=' + section + '&category=' + category + '&title=' + title + '&id=' + contentid + '&link=' + contenttitle + '&href=' + contenthref, 'selector_window', 'scrollbars=yes,width=750,height=450,resizable=yes,status=yes', true);
	}
}

function selectContentItem(inputid, contentid, contenttitle, href) {
	var inputnode = document.getElementById(inputid);
	if (inputnode && inputnode.options && (contentid != "") && (contenttitle != "")) {
		inputnode.options[0].text = contenttitle;
		inputnode.options[0].value = contentid;
		inputnode.selectedIndex = 0;
		if (inputnode.onchange) {
			inputnode.onchange();
		}
	}
}

</script>
<script type="text/javascript">

var inputCount = new Object();

function initForm(input) {
	inputCount[input] = 0;
	var inputfield = document.getElementById(input);
	var inputvalues = inputfield.value.split(/\r?\n/);
	for (var inputvalue in inputvalues) {
		var name = inputvalues[inputvalue].replace(/^<([^<>]+)>(.*)<\/([^<>]+)>$/, "$1");
		var value = inputvalues[inputvalue].replace(/^<([^<>]+)>(.*)<\/([^<>]+)>$/, "$2").replace(/&/g, "&amp;").replace(/"/g, "&quot;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
		addInfo(input, false, name, value);
	}
}

function addInfo(input, id, name, value) {
	if (! document.getElementById(input + "name")) return;
	if (! name) name = document.getElementById(input + "name").value;
	if (! value) value = "";
	document.getElementById(input + "name").value = "";
	if (name) {
		if (! id) {
			if (! inputCount[input]) inputCount[input] = 0;
			inputCount[input] += 1;
			id = inputCount[input];
		} else {
			if (id > inputCount[input]) inputCount[input] = parseInt(id);
		}

		var tr = document.createElement("tr");
		tr.setAttribute("id", input + "name" + id);
		var th;
		th = document.createElement("th");
		th.setAttribute("class", "WCMinnerContentInputName");
		th.setAttribute("align", "left");
		th.setAttribute("colSpan", "2");
		th.innerHTML = name;
		tr.appendChild(th);
		var insertpoint = document.getElementById(input + "addnew");
		if (insertpoint && insertpoint.parentNode) insertpoint.parentNode.insertBefore(tr, insertpoint);

		tr = document.createElement("tr");
		tr.setAttribute("id", input + "value" + id);
		var td;
		td = document.createElement("td");
		td.setAttribute("class", "WCMinnerContentInputValue");
		td.setAttribute("align", "left");
		td.setAttribute("colSpan", "3");
		if (input == 'product_options') {
			td.innerHTML = '<textarea cols="80" rows="5" id="' + input + id + '" name="' + input + id + '" onBlur="updateInfo(\'' + input + '\',' + id + ',\'' + name + '\',this.value)" onChange="updateInfo(\'' + input + '\',' + id + ',\'' + name + '\',this.value)">' + value.replace(/\|/g, "\r\n") + '</textarea> <input type="button" onClick="removeInfo(\'' + input + '\',' + id + ',\'' + name + '\')" value="<%= mytext.display("delete") %>">';
		} else {
			td.innerHTML = '<input type="text" size="80" maxlength="255" id="' + input + id + '" name="' + input + id + '" value="' + value + '" onBlur="updateInfo(\'' + input + '\',' + id + ',\'' + name + '\',this.value)" onChange="updateInfo(\'' + input + '\',' + id + ',\'' + name + '\',this.value)"> <input type="button" onClick="removeInfo(\'' + input + '\',' + id + ',\'' + name + '\')" value="<%= mytext.display("delete") %>">';
		}
		tr.appendChild(td);
		insertpoint = document.getElementById(input + "addnew");
		if (insertpoint && insertpoint.parentNode) insertpoint.parentNode.insertBefore(tr, insertpoint);
		var inputfield = document.getElementById(input);
		var regex = new RegExp("<" + name + ">.*</" + name + ">");
		if (inputfield && (! inputfield.value.match(regex))) {
			inputfield.value = inputfield.value + "\r\n<" + name + "></" + name + ">\r\n";
			inputfield.value = inputfield.value.replace(/\r\n\r\n/g, "\r\n");
		}
		var inputfield = document.getElementById(input + id);
		try {
			if (inputfield) inputfield.focus();
		} catch(e) {
		}
	}
}

function removeInfo(input, id, name) {
	if (id && name) {
		var tr = document.getElementById(input + "name" + id);
		if (tr && tr.parentNode) tr.parentNode.removeChild(tr);
		tr = document.getElementById(input + "value" + id);
		if (tr && tr.parentNode) tr.parentNode.removeChild(tr);
		var inputfield = document.getElementById(input);
		if (inputfield && inputfield.value) {
			var regex = new RegExp("<" + name + ">.*</" + name + ">");
			inputfield.value = inputfield.value.replace(regex, "");
			inputfield.value = inputfield.value.replace(/\r\n\r\n/g, "\r\n");
		}
	}
}

function updateInfo(input, id, name, value) {
	if (id && name) {
		var inputfield = document.getElementById(input);
		if (inputfield && inputfield.value) {
			var regex = new RegExp("<" + name + ">.*</" + name + ">");
			inputfield.value = inputfield.value.replace(regex, "<" + name + ">" + value.replace(/[\r\n]+/g, "|") + "</" + name + ">");
		}
	}
}

</script>

<link type="text/css" rel="stylesheet" href="/<%= mytext.display("adminpath") %>/jquery/css/jquery-ui.css" />
<style> .ui-datepicker { font-size: small; z-index: 999; } </style>
<script type="text/javascript" src="/<%= mytext.display("adminpath") %>/jquery/jquery-ui-i18n.js"></script>
<% if (myrequest.getHeader("Accept-Language").length() >= 4) { %>
<script type="text/javascript">jQuery(function($){ $.datepicker.setDefaults($.datepicker.regional['<%= myrequest.getHeader("Accept-Language").substring(0,4) %>'] || $.datepicker.regional['<%= myrequest.getHeader("Accept-Language").substring(0,2) %>'] || $.datepicker.regional['']); });</script>
<% } else if (myrequest.getHeader("Accept-Language").length() >= 2) { %>
<script type="text/javascript">jQuery(function($){ $.datepicker.setDefaults($.datepicker.regional['<%= myrequest.getHeader("Accept-Language").substring(0,2) %>'] || $.datepicker.regional['']); });</script>
<% } else if (myrequest.getLocale().getLanguage().length() > 0) { %>
<script type="text/javascript">jQuery(function($){ $.datepicker.setDefaults($.datepicker.regional['<%= myrequest.getLocale().getLanguage() %>'] || $.datepicker.regional['']); });</script>
<% } else { %>
<script type="text/javascript">jQuery(function($){ $.datepicker.setDefaults($.datepicker.regional['']); });</script>
<% } %>

<!-- #EndEditable -->
<%
	if (! myrequest.getParameter("menu").equals("")) {
		mysession.set("menu", myrequest.getParameter("menu"));
	}
%>
</head>
<body>
<div class="ui-layout-north">
<div class="ui-layout-content">
<table class="WCMheaderwrapper"><tr><td>
<table class="WCMheader">
  <tr>
    <td class="WCMheader"><%= mytext.display("logo") %></td>
    <td class="WCMlogin"><% if (! mysession.get("username").equals("")) { %><%= mytext.display("loggedin") %> <%= mysession.get("username") %><% } %></td>
    <td class="WCMtitle"><!-- #BeginEditable "TITLE" --><%= mytext.display("users.password.title") %><!-- #EndEditable --></td>
  </tr>
</table>
</td></tr><tr><td>
<%@ include file="/webadmin/header.jsp.html" %>
</td></tr></table>
</div>
</div>
<div class="ui-layout-west">
<div class="ui-layout-content">
<% String myjspincludepage = "/" + mytext.display("adminpath") + "/menu.jsp"; %><jsp:include page="<%= myjspincludepage  %>" />
<!-- #BeginEditable "MENU" -->
<!-- #EndEditable -->
</div>
</div>
<div class="ui-layout-east">
<div class="ui-layout-content">
</div>
</div>
<div class="ui-layout-center">

<!-- #BeginEditable "MAIN" -->

<div id="WCMadminpage" class="WCMadminpage WCMadminform"><div id="WCMadminpagewrapper" class="WCMadminpagewrapper">

<p><font color="red"><%= mytext.display("users.password.expired") %></font></p>
      <form id="userform" name="userform" action="password_post.jsp?redirect=<% if (! myrequest.getParameter("redirect").equals("")) { %><%= URLEncoder.encode(myrequest.getParameter("redirect")) %><% } else { %><%= URLEncoder.encode("/" + mytext.display("adminpath") + "/index.jsp") %><% } %>" method="POST">
        <p>
          <input type="button" onclick="doSave(this.form)" value="<%= mytext.display("save") %>">
        </p>

<div id="User_Login" class="User_Login st_view"><div class="st_view_inner">
        <table width="100%">
          <tr> 
            <th class="WCMinnerContentHeading1" align="left"><%= mytext.display("users.login.heading") %></th>
          </tr>
          <tr> 
            <td class="WCMinnerContentIntro" align="left"><%= mytext.display("users.login.intro") %></td>
          </tr>
          <tr> 
            <th class="WCMinnerContentInputName" align="left"><%= mytext.display("users.login.username") %></th>
          </tr>
          <tr> 
            <td class="WCMinnerContentInputValue"> 
              <input disabled type="text" size="60" maxlength="250" name="username" value="<%= user.getUsername() %>">
            </td>
          </tr>
          <tr> 
            <th class="WCMinnerContentInputName" align="left"><%= mytext.display("users.password.oldpassword") %></th>
          </tr>
          <tr> 
            <td class="WCMinnerContentInputValue"> 
              <input type="password" size="60" maxlength="250" name="old_password" value="">
            </td>
          </tr>
          <tr> 
            <th class="WCMinnerContentInputName" align="left"><%= mytext.display("users.password.newpassword") %></th>
          </tr>
          <tr> 
            <td class="WCMinnerContentInputValue"> 
              <input type="password" size="60" maxlength="250" name="new_password" value="">
            </td>
          </tr>
          <tr> 
            <th class="WCMinnerContentInputName" align="left"><%= mytext.display("users.password.newpassword2") %></th>
          </tr>
          <tr> 
            <td class="WCMinnerContentInputValue"> 
              <input type="password" size="60" maxlength="250" name="new_password2" value="">
            </td>
          </tr>
          <tr><td>&nbsp;</td></tr>
          <tr>
            <th class="WCMinnerContentHeading2" align="left" colspan="4"><%= mytext.display("users.login.about.heading") %></th>
          </tr>
          <tr>
            <td align="left" colspan="4">
            <%= mytext.display("users.login.about.text") %>
            </td>
          </tr>
        </table>
        <br>
</div></div>

      </form>

</div></div>

<!-- #EndEditable -->

</div>
<div class="ui-layout-south">
<div class="ui-layout-content">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td class="WCMfooter" colSpan="4" align="center"> 
      <%= mytext.display("footer") %>
    </td>
  </tr>
</table>
</div>
</div>
</body>
<!-- #EndTemplate --></html>
