
#http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-resources.html

files:
  "/environment.txt":
    mode: "000777"
    content : |
      Environment: `{ "Ref": "AWSEBEnvironmentName" }`
      SecurityGroup: `{ "Ref": "AWSEBSecurityGroup" }`
      LoadBalancer: `{ "Ref": "AWSEBLoadBalancer" }`
      Database: `{ "Ref": "AWSEBRDSDatabase" }`
      Region:      `{ "Ref": "AWS::Region" }`
      StackName:      `{ "Ref": "AWS::StackName" }`

