<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if lt IE 7]><html class="ie6"><![endif]-->
<!--[if IE 7]><html class="ie7"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if IE 10]><html class="ie10"><![endif]-->
<!--[if gt IE 10]><html><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
<!-- #BeginTemplate "/Templates/admin.jsp.dwt" --><!-- DW6 -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<%= myconfig.get(db, "charset") %>">
<meta http-equiv="Generator" content="<%= mytext.display("product") %> <%= mytext.display("version") %>">
<meta http-equiv="Copyright" content="<%= mytext.display("copyright") %>">
<%@ include file="/webadmin/scripts.jsp.html" %>
<!-- #BeginEditable "doctitle" -->
<title><%= mytext.display("sales.usergroups.title") %></title>
<script type="text/javascript" src="/<%= mytext.display("adminpath") %>/sorttable.js"></script>

<link type="text/css" rel="stylesheet" href="/<%= mytext.display("adminpath") %>/jquery/css/jquery-ui.css" />
<style> .ui-datepicker { font-size: small; z-index: 999; } </style>
<script type="text/javascript" src="/<%= mytext.display("adminpath") %>/jquery/jquery-ui-i18n.js"></script>
<% if (myrequest.getHeader("Accept-Language").length() >= 4) { %>
<script type="text/javascript">jQuery(function($){ $.datepicker.setDefaults($.datepicker.regional['<%= myrequest.getHeader("Accept-Language").substring(0,4) %>'] || $.datepicker.regional['<%= myrequest.getHeader("Accept-Language").substring(0,2) %>'] || $.datepicker.regional['']); });</script>
<% } else if (myrequest.getHeader("Accept-Language").length() >= 2) { %>
<script type="text/javascript">jQuery(function($){ $.datepicker.setDefaults($.datepicker.regional['<%= myrequest.getHeader("Accept-Language").substring(0,2) %>'] || $.datepicker.regional['']); });</script>
<% } else if (myrequest.getLocale().getLanguage().length() > 0) { %>
<script type="text/javascript">jQuery(function($){ $.datepicker.setDefaults($.datepicker.regional['<%= myrequest.getLocale().getLanguage() %>'] || $.datepicker.regional['']); });</script>
<% } else { %>
<script type="text/javascript">jQuery(function($){ $.datepicker.setDefaults($.datepicker.regional['']); });</script>
<% } %>

<script type="text/javascript">

$(function(){

	$('#period_start_trigger').click(function() {
		$(this).datepicker({
			dateFormat: 'yy-mm-dd',
			defaultDate: ($('#period_start').attr('value').length >= 10) ? $('#period_start').attr('value').substring(0,10) : $('#period_start').attr('value'),
			constrainInput: false,
			beforeShow: function(input, inst) {
				if ($('#period_start').attr('value').length >= 10) {
					$('#period_start_trigger').datepicker( "option", "defaultDate", $('#period_start').attr('value').substring(0,10) );
				}
			},
			onSelect: function(dateText, inst) {
				if ($('#period_start').attr('value').length >= 10) {
					$('#period_start').attr('value', dateText + $('#period_start').attr('value').substring(10));
				} else {
					$('#period_start').attr('value', dateText + " 00:00");
				}
				this.value = "...";
				$('#period').attr('selectedIndex', 0);
			},
			onClose: function(dateText, inst) {
				this.value = "...";
			}
		});
		$(this).datepicker('show');
	});

	$('#period_end_trigger').click(function() {
		$(this).datepicker({
			dateFormat: 'yy-mm-dd',
			defaultDate: ($('#period_end').attr('value').length >= 10) ? $('#period_end').attr('value').substring(0,10) : $('#period_end').attr('value'),
			constrainInput: false,
			beforeShow: function(input, inst) {
				if ($('#period_end').attr('value').length >= 10) {
					$('#period_end_trigger').datepicker( "option", "defaultDate", $('#period_end').attr('value').substring(0,10) );
				}
			},
			onSelect: function(dateText, inst) {
				if ($('#period_end').attr('value').length >= 10) {
					$('#period_end').attr('value', dateText + $('#period_end').attr('value').substring(10));
				} else {
					$('#period_end').attr('value', dateText + " 23:59");
				}
				this.value = "...";
				$('#period').attr('selectedIndex', 0);
			},
			onClose: function(dateText, inst) {
				this.value = "...";
			}
		});
		$(this).datepicker('show');
	});

});

</script>

<!-- #EndEditable -->
<%
	if (! myrequest.getParameter("menu").equals("")) {
		mysession.set("menu", myrequest.getParameter("menu"));
	}
%>
</head>
<body>
<div class="ui-layout-north">
<div class="ui-layout-content">
<table class="WCMheaderwrapper"><tr><td>
<table class="WCMheader">
  <tr>
    <td class="WCMheader"><%= mytext.display("logo") %></td>
    <td class="WCMlogin"><% if (! mysession.get("username").equals("")) { %><%= mytext.display("loggedin") %> <%= mysession.get("username") %><% } %></td>
    <td class="WCMtitle"><!-- #BeginEditable "TITLE" --><%= mytext.display("sales.usergroups.title") %><!-- #EndEditable --></td>
  </tr>
</table>
</td></tr><tr><td>
<%@ include file="/webadmin/header.jsp.html" %>
</td></tr></table>
</div>
</div>
<div class="ui-layout-west">
<div class="ui-layout-content">
<% String myjspincludepage = "/" + mytext.display("adminpath") + "/menu.jsp"; %><jsp:include page="<%= myjspincludepage  %>" />
<!-- #BeginEditable "MENU" -->
<!-- #EndEditable -->
</div>
</div>
<div class="ui-layout-east">
<div class="ui-layout-content">
</div>
</div>
<div class="ui-layout-center">

<!-- #BeginEditable "MAIN" -->

<div id="WCMadminpage" class="WCMadminpage WCMadminform"><div id="WCMadminpagewrapper" class="WCMadminpagewrapper">

<%@ include file="selectfilter.jsp.html" %>
<%@ include file="usergroups.data.jsp.html" %>

</div></div>

<!-- #EndEditable -->

</div>
<div class="ui-layout-south">
<div class="ui-layout-content">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td class="WCMfooter" colSpan="4" align="center"> 
      <%= mytext.display("footer") %>
    </td>
  </tr>
</table>
</div>
</div>
</body>
<!-- #EndTemplate --></html>
