.dtree {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: text-bottom;
}
.dtree a {
	color: #666;
	font-size: 10pt;
	text-decoration: none;
}
.dtree a:visited {
	color: #666;
	font-size: 10pt;
	text-decoration: none;
}
.dtree a:hover {
	color: #cc0000;
	font-size: 10pt;
	text-decoration: underline;
}
.dtree a.node {
	position: relative;
	top: -2px;
	padding: 1px;
	color: #666;
	font-size: 10pt;
	text-decoration: none;
}
.dtree a.node:visited {
	position: relative;
	top: -2px;
	padding: 1px;
	color: #666;
	font-size: 10pt;
	text-decoration: none;
}
.dtree a.node:hover {
	color: #cc0000;
	font-size: 10pt;
	text-decoration: underline;
}
.dtree a.nodeSel {
	position: relative;
	top: -2px;
	padding: 1px;
	color: #ffffff;
	background-color: #cc0000;
	font-size: 10pt;
	text-decoration: none;
}
.dtree a.nodeSel:visited {
	position: relative;
	top: -2px;
	padding: 1px;
	color: #ffffff;
	background-color: #cc0000;
	font-size: 10pt;
	text-decoration: none;
}
.dtree a.nodeSel:hover {
	color: #ffffff;
	font-size: 10pt;
	text-decoration: none;
}
