img { border: 1px dashed gray; }
table, caption, thead, tbody, tfoot, tr, td, th { border: 1px dashed gray; }
object, embed { border: 1px dashed gray; }
form { border: 1px dashed red; }
input { border: 1px dashed red; }
a { border: 1px dashed blue; }
datalist { display: block; border: 1px dashed red; }
output { padding-left: 5px; padding-right: 5px; border: 1px dashed red; }
canvas { border: 1px dashed red; }
