.webeditor_icon {
	height: 20px;
	width: 21px;
	margin: 1px;
	border: solid 2px #D2D2D2;
	background-color: #ffffff;
	background: white url(webeditor.white.gif);
}

.webeditor_icon_selected {
	height: 20px;
	width: 21px;
	margin: 1px;
	border: solid 2px #919191;
	background-color: #DCDCDC;
}

.webeditor_icon_disabled {
	height: 20px;
	width: 21px;
	margin: 1px;
	border: solid 2px #D4D0C8;
	background-color: #F5F5F5;
	filter: alpha(opacity = 25);
	-moz-opacity: 0.25;
	opacity: 0.25;
}

.webeditor_icon_mouseover {
	height: 20px;
	width: 21px;
	margin: 1px;
	border: outset 2px;
	background-color: #ffffff;
	background: white url(webeditor.white.gif);
}

.webeditor_icon_mousedown {
	height: 20px;
	width: 21px;
	margin: 1px;
	border: inset 2px;
	background-color: #ffffff;
	background: white url(webeditor.white.gif);
}

.webeditor_icon_mouseup {
	height: 20px;
	width: 21px;
	margin: 1px;
	border: outset 2px;
	background-color: #ffffff;
	background: white url(webeditor.white.gif);
}

.webeditor_icon_mouseout {
	height: 20px;
	width: 21px;
	margin: 1px;
	border: solid 2px #D4D0C8;
	background-color: #D4D0C8;
}

.webeditor_button {
	border: solid 2px #D4D0C8;
	background-color: #D4D0C8;
	text-align: center;
}

.webeditor_button_selected {
	border: solid 2px #D4D0C8;
	background-color: #E8E8E8;
}

.webeditor_button_disabled {
	border: solid 2px #D4D0C8;
	background-color: #A0A0A0;
	filter: alpha(opacity = 25);
	-moz-opacity: 0.25;
	opacity: 0.25;
}

.webeditor_button_mouseover {
	border: outset 2px;
	background-color: #D4D0C8;
	text-align: center;
}

.webeditor_button_mousedown {
	border: inset 2px;
	background-color: #D4D0C8;
	text-align: center;
}

.webeditor_button_mouseup {
	border: outset 2px;
	background-color: #D4D0C8;
	text-align: center;
}

.webeditor_button_mouseout {
	border: solid 2px #D4D0C8;
	background-color: #D4D0C8;
	text-align: center;
}

.webeditor_select {
}

.webeditor_select_disabled {
	filter: alpha(opacity = 25);
	-moz-opacity: 0.25;
	opacity: 0.25;
}

.webeditor_toolbar {
	height: 25px;
	border: #000000;
	background-color: #F8F8F8;
}

.webeditor_DOM_inspector, .webeditor_DOM_inspector TD {
	border: none;
	font-size: 10px;
	font-family: Helvetica,Arial;
	background-color: #ffffff;
	background: white url(webeditor.white.gif);
}

.webeditor_colour {
	width: 12px;
	height: 13px;
	border: 1px solid gray;
	padding: 0px;
	margin: 0px;
}

.webeditor_colour_mouseover {
	width: 12px;
	height: 13px;
	border: 1px solid black;
	padding: 0px;
	margin: 0px;
}

.webeditor_window_title {
	font-size: 18px;
	font-family: Helvetica,Arial;
	font-weight: bold;
	line-height: 1;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.webeditor_window_heading {
	font-size: 14px;
	font-family: Helvetica,Arial;
	font-weight: bold;
}

.webeditor_window_attribute {
	font-size: 12px;
	font-family: Helvetica,Arial;
	font-weight: bold;
	width: 50px;
}

.webeditor_window_value {
	font-size: 12px;
	font-family: Helvetica,Arial;
}

fieldset {
	padding: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.webeditor_contenteditable {
	border-left: none;
	border-right: none;
	border-top: 1px solid #d4d0c8;
	margin: 0px;
	padding: 0px;
}

.webeditor_contenteditable_disabled {
	border-left: none;
	border-right: none;
	border-top: 1px solid #d4d0c8;
	margin: 0px;
	padding: 0px;
	filter: alpha(opacity = 75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

