      <form id="websitedesigns" action="database.jsp?<%= Math.random() %>" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="insert" value="yes">
        <input type="hidden" name="importfile" value="">
<% if (! wizard.equals("")) { %>
        <input type="hidden" name="redirect" value="/<%= mytext.display("adminpath") %>/index.jsp">
<% } else { %>
        <input type="hidden" name="redirect" value="/<%= mytext.display("adminpath") %>/config/database.jsp">
<% } %>
        <table width="100%">
          <tr> 
            <th class="WCMinnerContentHeading1" colspan="2" align="left"><%= mytext.display("config.database.designs.heading") %></th>
          </tr>
          <tr>
            <td class="WCMinnerContentIntro" colspan="2">
              <%= mytext.display("config.database.designs.intro") %>
            </td>
          </tr>
          <tr id="designs_importparams" class="WCMimportparams">
            <td class="WCMinnerContentInputValue">
            </td>
          </tr>
          <tr id="designs_importoptions" class="WCMimportoptions">
            <td class="WCMinnerContentInputValue">
                <%= DB.import_file_radio_buttons(mytext, "designs",2,DOCUMENT_ROOT, servername, db, myconfig) %>
            </td>
          </tr>
          <tr id="designs_importupload" class="WCMimportupload">
            <td class="WCMinnerContentInputValue" align="left" valign="top" colspan="2">
              <%= mytext.display("config.database.designs.upload") %><br>
              <input type="file" size="60" name="file" onchange="if (this.form.submitbutton) this.form.submitbutton.disabled = false;">
              <input disabled name="submitbutton" type="submit" value="<%= mytext.display("config.database.designs.submit") %>" onclick="enableAll(this.form);">
            </td>
          </tr>
        </table>
        <br>
      </form>
